/********** Base styles **********/
* {
  box-sizing: border-box;
}
h1 {
  margin-bottom: 35px;
  text-align:center;
}

#header1 {
  background-color:orange;
  border: 1px solid black;
  width: 30%;
  height:25px;
  font-size:17px;
  color:white;
  text-align:center;
  position:relative;
  top:0%;
  left:70%;
}
#header2 {
  background-color:blue;
   border: 1px solid black;
  width: 30%;
  height:25px;
  font-size:17px;
  color:white;
  text-align:center;
  position:relative;
  top:0%;
  left:70%;
}
#header3 {
  background-color:green;
   border: 1px solid black;
  width: 30%;
  height:25px;
  font-size:17px;
  color:white;
  text-align:center;
  position:relative;
  top:0%;
  left:70%;
}
p {
  width: 90%;
  height: 150px;
  margin-right: auto;
  margin-left: auto;
  font-size:14px;
  font-family: Helvetica;
  color: white;
}

/* Simple Responsive Framework. */
.row {
  width: 100%;
  
}

/********** destop **********/
@media (min-width: 992px) {
  .col-lg-4 {
    background-color:gray;
    float: left;
    border: 1px  solid black;
    margin:1%;
  }
  .col-lg-4 {
    width: 31%;
  }
  
}

/**********  tablet **********/

  @media (min-width: 768px) and (max-width: 991px) {
  .col-md-6,.col-md-12 {
    background-color:gray;
    float: left;
    border: 1px solid black;
    margin:1%;
  }
  .col-md-6 {
   width:48%;
  }
 .col-md-12 {
    width:98%;
  }
}
/*************  mobile *************/
  @media(max-width:767px){
    .col-sm-12 {
      background-color: gray;
    float: left;
    border: 1px solid black;
    margin:1%;
 }
 .col-sm-12{
  width:98%;
  }
  }
  